BOT_TOKEN = YOURTOKEN
OPENROUTER_TOKEN=YOURTOKEN
LOG_LEVEL=DEBUG
LOG_FORMAT="[%(asctime)s] #%(levelname)-8s %(filename)s:%(lineno)d - %(name)s - %(message)s"
PG_HOST=
PG_DB=
PG_USER=
PG_PASS=
PG_PORT=
REDIS_DATABASE=
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=